.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 3px solid darkgrey;
    padding: 20px;
}
div {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
input {
    width: 150px;
    height: 20px;
}
button {
    width: 100px;
    padding: 5px 10px;
    border-radius: 5px;
}
button:hover {
    background: lightblue;
}